/*
 * Main CSS file for Projects.
 */
#noscript,#main {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 2rem;
}
#main #cogs,#main #sneaky-preview {
  color: #444;
}
#main #sneaky-preview {
  font-size: 90%;
}
